[Unit]
Description=Frequent ID Business V2 MySQL logical backup

[Timer]
OnCalendar=*-*-* *:00,30:00
Persistent=true
AccuracySec=1m
RandomizedDelaySec=2m
Unit=id-business-v2-mysql-backup.service

[Install]
WantedBy=timers.target
